[Unit]
Description=Pi LED Controller Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/pi-led-service
ExecStart=/bin/bash -c 'source /home/pi/pi-led-service/venv/bin/activate && /home/pi/pi-led-service/venv/bin/python3 /home/pi/pi-led-service/led_controller.py all 255 255 255'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 